/* -------------------------------------------------------------------------- */
/*                                Boxed Layout                                */
/* -------------------------------------------------------------------------- */
$container-width: 1040px;
$container-max-width: 1920px;

/* -------------------------------------------------------------------------- */
/*                                 Transition                                 */
/* -------------------------------------------------------------------------- */
$time: 0.3s;
$timing-ease: ease-in-out;

/* -------------------------------------------------------------------------- */
/*                                    Font                                    */
/* -------------------------------------------------------------------------- */
$font-extraBold: ExtraBold, sans-serif;
$font-bold: Bold, sans-serif;
$font-regular: Regular, sans-serif;

/* -------------------------------------------------------------------------- */
/*                                  Font Size                                 */
/* -------------------------------------------------------------------------- */
$fs-body: 1.6rem;
$fs-navbar: 1.5rem;
$fs-slider: 8.4rem;
$fs-button: 1.4rem;
$fs-heading: 4rem;
$fs-news-title: 1.8rem;
$fs-news-desc: 1.5rem;
$fs-footer: 1.2rem;
$lh-normal: normal;

/* -------------------------------------------------------------------------- */
/*                                    Color                                   */
/* -------------------------------------------------------------------------- */
$cl-primary: #bea67c;
$cl-dark: #000;
$cl-gallery: #0e0e0e;
$cl-light: #fff;

/* -------------------------------------------------------------------------- */
/*                                 Text Color                                 */
/* -------------------------------------------------------------------------- */
$tcl-main: #464646;
$tcl-heading: #010101;
$tcl-light: #fff;
$tcl-footer: #b0b0b0;

/* -------------------------------------------------------------------------- */
/*                      Grid - Media queries breakpoints                      */
/* -------------------------------------------------------------------------- */
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
